.map-list-page {

}

#map_list_canvas {
  height: 100%;
}

#location-address-line1{
  margin: 0 0;
}

#location-address-line2{
  margin: 0 0;
}

#location-h1{
  margin-bottom: 0px;
}
.map-item{
  display: inline;
  color:  $price-color;
}